img {
    width: 300px;
    border-radius: 16px;
  }
  
.fundo {
    text-align: justify;
    margin: 50px ;
}

.contato{
    text-align: center;
}

.quadrado1 {
   background-color: #E4D9FF;
   color: #1E2749;
}

.titulo1 {
    background-color: #273469;
    color: beige;
}